body{
    margin: 0;
    background-color: #fdf3e7;
}

/* Header */

.header {
    width: 100%;
    height: auto;
    background-color:;
    padding-top: 24px;
}

.headercontent {
    width: 1024px;
    height: auto;
    margin: 0 auto; 
}

.headercontent a img {
    width: 659px;
    height: 144px;
    margin: 0px auto;
    display: block;
}

/* Navigation Bar */

.navbar {
    height: 85px;
    background: #c63d0f;
  }
.navbar ul {
    margin: 0;
    padding: 0;
  }
.navbar ul li {
    list-style: none;
  }
.navbar ul li a {
    text-decoration: none;
    float: left;
    display: block;
    padding: 30px 20px; /* Not sure if this worked, github is being slow */
    color: black;
  }
.navbar ul li a:hover {
    color: white;
  }

.headerbreak {
    width: 100%;
    height: 0;
    border-bottom: 2px solid #c63d0f;
}

/* Main Section Homepage */

.main {
        width:100%;
        height: 800px;
        color: white;
        font-size: 60px;
        text-align: center;
        background-image: url('artifact.jpg');
        background-size: cover;
        position: relative;
        padding: 0;
}

.main h2 {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 50%;
    margin-top: -105px;
}

/* About the Project Homepage */

.project {
    padding: 10px 20px;
}

/* End of Homepage */

.title h2 {
    text-align: center;
}
   

/* Artefacts Page */

#imagelist a {
    margin: 2px;
    border: 4px solid transparent;
    display: inline-block;
    border-radius: 10px;
    opacity: .7;
}

#imagelist a:hover {
    border-color: white;
    border-radius: 10px;
    opacity: 1;
}

/* Footer */

.footer p {
    text-align: center;
    font-size: 11px;
}


