body{
    margin: 0;
    background-color: #fdf3e7;
}

/* Navigation Bar */

.navbar {
    height: 100px;
    background: #c63d0f;
  }
.navbar ul {
    margin: 0;
    padding: 0;
  }
.navbar ul li {
    list-style: none;
  }
.navbar ul li a {
    text-decoration: none;
    float: left;
    display: block;
    padding: 25px 20px;
    color: black;
  }
.navbar ul li a:hover {
    color: white;
  }

/* Main Section Homepage */

.main {
        width:100%;
        height: 800px;
        color: white;
        font-size: 60px;
        text-align: center;
        background-image: url('artifact.jpg');
        background-size: cover;
        position: relative;
        padding: 0;
}

.main h2 {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 50%;
    margin-top: -105px;
}

/* About the Project Homepage */

.project {
    padding: 10px 20px;
}

/* End of Homepage */

.title h2 {
    text-align: center;
}
   
